<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="JavaPath" value="C:\Program Files\Java\jdk-22\bin\java.exe" />
		<add key="ServerJarPath" value="D:\Games\Minecraft\server-1.21\minecraft-server-1.21.jar" />
		<add key="ServerArgs" value="-Xms8192M -Xmx8192M -jar minecraft-server-1.21.jar nogui" />
		<add key="LogFilePath" value="D:\Games\Minecraft\server-1.21\minecraft_server_log.txt" />
	</appSettings>
</configuration>